.wrap {
  box-sizing: border-box;
  border: solid 1vh white;

  background: rgb(228,228,228) none repeat scroll 0 0;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: auto;
  margin-bottom: 0px;

  /* height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  flex-wrap: nowrap; */
}

.canvas {
  width: 1000px;
  height: 1000px;
}

.pixel {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  float: left;
  /* border: solid 1px #bbb; */
  cursor: pointer;
}

.options {
  border: solid 1vh white;
  border-top: 0;

  height: 5vh;
  padding: 1vh;
  flex-wrap: nowrap;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  background-color: white;

  text-align: right;
}

.color {
  box-sizing: border-box;
  width: 5vh;
  height: 5vh;
  float: left;
  
  cursor: pointer;
}

.zoomIn, .zoomOut {
  box-sizing: border-box;
  float: right;
  cursor: pointer;
}

.verticalCenter {
  float: right;
  height: 100%;
  /* background-color: purple; */
}

.timer {
  font-family: monospace;
  font-size: 4vh;
  margin-left: 2vh;
}

img {
  height: 5vh;
  width: auto;
}
